<p>Nombre: {{ name }}</p>
<p>Apellido: {{ surname }}</p>
<p>Email: {{ email }}</p>
<p>Teléfono: {{ phone }}</p>
<p>Razon: {{ reason }}</p>
<p>Mensaje</p>
<p>{{ message }}</p>
<p>Email enviado desde Kitchenita </p>
<p>Enviado el {{ sendDate }} </p>